extends layout
block content
    h1   sensor bundling for #{did} 
    h3 add sensor list for this gateway,1 sensor each line 


    form(method="post", action='')
        input(type="hidden",name="did",value="#{did}")
        textarea(name="sensor_list")
        input(type="hidden",name="action",value="bundling")
        button(type="submit") bundling 