doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title sandlacus
    // Bootstrap Core CSS
    link(href='/assets/theme/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='/assets/theme/vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/assets/theme/dist/css/sb-admin-2.css', rel='stylesheet')
    // Custom Fonts
    link(href='/assets/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container
      .row

        .col-md-6.col-md-offset-4
            h1(color=gray) Sandlacus Internal Portal

                
      .row
        .col-md-6.col-md-offset-4
            h1 Register Page

            br
            form(role='form',method="post", style='max-width: 300px;')
                .form-group
                    input.form-control(type='text', name="username", placeholder='Enter Username')
                .form-group
                    input.form-control(type='password', name="password", placeholder='Password')
                button.btn.btn-default(type='submit') Register
                &nbsp;
                a(href='/login')
                    button.btn.btn-primary(type="button") Login