doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" ,content="IE=edge")
        meta(name="viewport" ,content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="author" content="")

        link(rel='stylesheet', href='/assets/theme/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/assets/theme/vendor/metisMenu/metisMenu.min.css')
        link(rel='stylesheet', href='/assets/theme/dist/css/sb-admin-2.css')
        link(rel='stylesheet', href='/assets/theme/vendor/font-awesome/css/font-awesome.min.css')
        block appendcss
    body


        div(id="wrapper")
            include navi
            block head
                div#page-wrapper
                    .container-fluid
                    block content

            // jQuerya
        script(src='/assets/theme/vendor/jquery/jquery.min.js')
        // Bootstrap Core JavaScript
        script(src='/assets/theme/vendor/bootstrap/js/bootstrap.min.js')
        // Metis Menu Plugin JavaScript
        script(src='/assets/theme/vendor/metisMenu/metisMenu.min.js')
        // Custom Theme JavaScript
        script(src='/assets/theme/dist/js/sb-admin-2.js')
        block appendjs