.fileInputContainer{
    height:256px;
    background:url(upfile.png);
    position:relative;
    width: 256px;
}
.fileInput{
    height:256px;
    overflow: hidden;
    font-size: 300px;
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor:pointer;
}